// app global css in SCSS form

.swa-main-app-bracket{
  padding-top: 50px;
  margin: .75rem;
}

.swa-card{
  margin-bottom: 0.75rem;
}

.swa-edit-section{
  .q-field {
    margin-bottom: .5rem;
  }
}
.swa-add-section{
  .q-field {
    margin-bottom: .5rem;
  }
}

.swa-load-older{
  display: flex;
  justify-content: center;
  height: 3rem;
}

.swa-new-appointment-time{
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
.swa-new-appointment-date{
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
